<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="banner">
      <h2><span class="logo">RC</span> RedditClone</h2>
      <div><h1>Hello {{user.user_name}}</h1></div>
      <div>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </nav>
    <div class="dmain">
      <div class="dleft">
        {% for post in posts %}
        <div class="post">
          <h3 class="title">{{post.title}}</h3>
          {% if post.isVideo == 0 %}
          <p>{{post.content}}</p>
          {% else %}
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/{{post.content}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          {% endif %}
          <div>
            <a href="/g/groupnamehere/{{post.id}}">full post</a>
            {% if post.user_id == user.id %} |
            <a href="/edit_post/{{post.id}}">edit</a> |
            <a href="/destroy_post/{{post.id}}">delete</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div>
        <form action="/create_post" method="post">
          <div><input type="hidden" name="user_id" value="{{user.id}}" /></div>
          <div class="new_post">
            <h3>New Post:</h3>
            <div>
              <label>Title: </label>
              <input type="text" name="title" />
            </div>
            <div>
              <label>Is this a video?</label>
              <input
                id="checkboxDefault"
                type="hidden"
                value="0"
                name="isVideo"
              />
              <input id="checkbox" type="checkbox" name="isVideo" value="1" />
            </div>
            <div>
              <label id="content">Content: </label>
              <textarea
                id="contentText"
                name="content"
                rows="4"
                cols="30"
                style="resize: none"
              ></textarea>
            </div>
            <button class="btn btn-success" type="submit">Post</button>
            <div>
              {% with messages = get_flashed_messages(category_filter=['post'])
              %} {% if messages %} {% for message in messages %}
              <p>{{message}}</p>
              {% endfor %} {% endif %} {% endwith %}
            </div>
          </div>
        </form>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
