<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{all_posts[0].title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="banner">
      <h2><span class="logo">RC</span> RedditClone</h2>
      <div class="links">
        <a class="btn btn-primary" href="/dashboard">Main Page</a
        ><span> |</span>
        {% if user_id %}
        <a class="btn btn-danger" href="/logout">Logout</a>
        {% endif %} {% if not user_id %}
        <a class="btn btn-success" href="/login">Login</a>
        <!-- add post_id so redirect to post on login -->
        {% endif %}
      </div>
    </nav>
    <div class="dmain">
      <div class="dleft">
        <div class="post">
          <h3 class="title">{{all_posts[0].title}}</h3>
          {% if all_posts[0].isVideo == 1 %}
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/{{all_posts[0].content}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          {% else %}
          <h4>{{all_posts[0].content}}</h4>
          {% endif %} {% if user_id == all_posts[0].post_user_id %}
          <div>
            <a href="/edit_post/{{all_posts[0].id}}">edit</a> |
            <a href="/destroy_post/{{all_posts[0].id}}">delete</a>
          </div>
          {% endif %}
        </div>

        <div>
          {% if user_id %}
          <form action="/create_comment" method="post">
            <div>
              <input type="hidden" name="user_id"" value="{{user_id}}"/> 
              <input type="hidden" name="post_id"" value="{{all_posts[0].id}}"/>
            </div>
            <div class="addComment">
              <label>Comment: </label>
              <textarea style="resize:none" name="content" rows="4" cols="50"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Post</button>
            {% endif %}
          </form>
        </div>
        <ul>
          <h5>Comments</h5>
          {% for posts in all_posts %} {% if posts.comment %}
          <div>
            {% if user_id != posts.user_id %}
            <p>User: {{posts.user_name}}</p>
            <p class="comment">{{posts.comment}}</p>
            {% else %}
            <div class="comment" >
              <p> User: {{posts.user_name}} <div id="comment{{posts.comment_id}}">{{posts.comment}}</div></p>
              <form action="/edit_comment" method="post" id="form{{posts.comment_id}}" hidden="true">
                <input type="hidden" name="comment_id" value="{{posts.comment_id}}"/>
                <input type="hidden" name="post_id" value="{{all_posts[0].id}}"/>
                <textarea style="resize:none" name="content" rows="4" cols="50">{{posts.comment}}</textarea>
                <button class="btn btn-success" type="submit">Edit</button>
              </form>
              <button id=editButton{{posts.comment_id}} onclick="edit({{posts.comment_id}})" style="color: blue;">edit</button>
              |
              <a href="/deleteComment/{{all_posts[0].id}}/{{posts.comment_id}}"
                >delete</a
              >
            </div>
            {% endif %}
          </div>
          {% endif %} {% endfor %}
        </ul>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
