<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{all_posts[0].title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="banner">
      <h2><span class="logo">RC</span> RedditClone</h2>
      <div class="links">
        <a class="btn btn-primary" href="/dashboard">Main Page</a
        ><span> |</span>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </nav>
    <div class="dmain">
      <div class="dleft">
        <div class="post">
          <h3 class="title">{{all_posts[0].title}}</h3>
          <h4>{{all_posts[0].post}}</h4>
          {% if user_id == all_posts[0].user_id %}
          <div>
            <a href="/edit_post/{{all_posts[0].id}}">edit</a> |
            <a href="/destroy_post/{{all_posts[0].id}}">delete</a>
          </div>
          {% endif %}
        </div>
        {% if user_id %}
        <div>
          <ul>
            {% for posts in all_posts %} {% if posts.comment %}
            <div>
              <p>Comment: {{posts.comment}}</p>
              <p>User: {{posts.user_name}}</p>
            </div>
            {% endif %} {% endfor %}
          </ul>
          <form action="/create_comment" method="post">
            <div>
              <input type="hidden" name="user_id"" value="{{user_id}}"/> <input
              type="hidden" name="post_id"" value="{{all_posts[0].id}}"/>
            </div>
            <div>
              <label>Comment: </label>
              <textarea name="content" rows="4" cols="50"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Post</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
