<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <nav>
        <div>
            <h2><span class="logo">RC</span> RedditClone</h2>
        </div>
        <div class="links">
            <a href="/">Main Page</a>
        </div>
    </nav>
    <h1 class="login_reg">Welcome User!</h1>
    <div class="body">
        <form action="/create_user" method="post">
            <div>
            {% with messages = get_flashed_messages(category_filter=['create_user']) %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            <div class="login">
                <div><h4>Register New User</h4></div>
                <div>
                    <label>User Name: </label>
                    <input name="user_name" type="text"/>
                </div>
                <div>
                    <label>Email: </label>
                    <input name="email" type="text"/>
                </div>
                <div>
                    <label>Password: </label>
                    <input name="password" type="password"/>
                </div>
                <div>
                    <label>Confirm Password: </label>
                    <input name="conf_password" type="password"/>
                </div>
                <button type="submit">Register</button>
            </div>
        </form>
        <form action="/login_user" method="post">
            <div>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            <div class="login">
                <div><h4>Login</h4></div>
                <div>
                    <label>Email: </label>
                    <input name="email" type="text"/>
                </div>
                <div>
                    <label>Password: </label>
                    <input name="password" type="password"/>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>